h1{
   width: 50%;
   height: 150px;
   border: 5px solid red;
   padding-bottom:30px;
   }
body{
  font-family: monospace;
  background-color: #F5F5DC;
  }
p{
  color: blue;
  text-align: center;
  }
p em{
  color:red;
  }
h2{
  margin-left:30px;
  }
#super {
  margin: 50px 25px; 
  }
.mega {
  padding: 5px; 
  }
